In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_excel("C:/Users/sharm/Downloads/customer_feedback.xlsx")

In [3]:
print(df)

   Customer_ID                                           Feedback  Rating  \
0          101                 Great service, I am very satisfied       5
1          102  The delivery was late and the package was damaged       2
2          103               Good quality but slightly overpriced       4
3          104                     Customer support was excellent       5
4          105   Not happy with the product, very poor experience       1
5          106  Decent, but could be better in terms of packaging       3
6          107               Absolutely love it! Highly recommend       5
7          108                Average experience, nothing special       3
8          109                  Very bad, will not purchase again       1
9          110             Fast delivery and good value for money       4

   NPS_Score
0         10
1          4
2          7
3          9
4          2
5          6
6         10
7          7
8          3
9          9

In [4]:
df.head()

,Customer_ID,Feedback,Rating,NPS_Score
0,101,"Great service, I am very satisfied",5,10
1,102,The delivery was late and the package was damaged,2,4
2,103,Good quality but slightly overpriced,4,7
3,104,Customer support was excellent,5,9
4,105,"Not happy with the product, very poor experience",1,2

In [7]:
df.shape

(10, 4)

In [8]:
df.describe()

       Customer_ID     Rating  NPS_Score
count     10.00000  10.000000  10.000000
mean     105.50000   3.300000   6.700000
std        3.02765   1.567021   2.907844
min      101.00000   1.000000   2.000000
25%      103.25000   2.250000   4.500000
50%      105.50000   3.500000   7.000000
75%      107.75000   4.750000   9.000000
max      110.00000   5.000000  10.000000

In [9]:
df.tail()

,Customer_ID,Feedback,Rating,NPS_Score
5,106,"Decent, but could be better in terms of packaging",3,6
6,107,Absolutely love it! Highly recommend,5,10
7,108,"Average experience, nothing special",3,7
8,109,"Very bad, will not purchase again",1,3
9,110,Fast delivery and good value for money,4,9

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  10 non-null     int64
 1   Feedback     10 non-null     object
 2   Rating       10 non-null     int64
 3   NPS_Score    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

In [11]:
pip install textblob

Defaulting to user installation because normal site-packages is not writeable
Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Collecting nltk>=3.9 (from textblob)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk>=3.9->textblob)
  Downloading click-8.2.1-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: joblib in c:\users\sharm\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from nltk>=3.9->textblob) (1.5.1)
Collecting regex>=2021.8.3 (from nltk>=3.9->textblob)
  Downloading regex-2025.8.29-cp313-cp313-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk>=3.9->textblob)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\sharm\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 2.1 MB/s  0:00:00
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------------- -------------------------- 0.5/1.5 MB 533.3 kB/s eta 0:00:02
   ------------- -------------------------- 0.5/1.5 MB 533.3 kB/s eta 0:00:02
   -------------------- ------------------- 0.8/1.5 MB 551.4 kB/s eta 0:00:02
   -------------------- ------------------- 0.8/1.5 MB 551.4 kB/s eta 0:00:02
   -------------------- ------------------- 0.8/1.5 MB 551.4 kB/s eta 0:00:02
   -------------------- ------------------- 0.8/1.5 MB 551.4 kB/s eta 0:00:02
   -------------------- ------------------- 0.8/1.5 MB 551.4 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 395.6 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 395.6 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.5 MB 395.6 kB/s eta 0:00:02
   ---------------------------------- ----- 1.3/1.5 MB 403.5 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 403.5 kB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 397.1 kB/s  0:00:03
Downloading regex-2025.8.29-cp313-cp313-win_amd64.whl (275 kB)
Downloading click-8.2.1-py3-none-any.whl (102 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, click, nltk, textblob

   ---------------------------------------- 0/5 [tqdm]
   ---------------------------------------- 0/5 [tqdm]
   ---------------------------------------- 0/5 [tqdm]
   ---------------------------------------- 0/5 [tqdm]
   ---------------------------------------- 0/5 [tqdm]
   ---------------------------------------- 0/5 [tqdm]
   -------- ------------------------------- 1/5 [regex]
   -------- ------------------------------- 1/5 [regex]
   ---------------- ----------------------- 2/5 [click]
   ---------------- ----------------------- 2/5 [click]
   ---------------- ----------------------- 2/5 [click]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   ------------------------ --------------- 3/5 [nltk]
   -------------------------------- ------- 4/5 [textblob]
   -------------------------------- ------- 4/5 [textblob]
   -------------------------------- ------- 4/5 [textblob]
   ---------------------------------------- 5/5 [textblob]

Successfully installed click-8.2.1 nltk-3.9.1 regex-2025.8.29 textblob-0.19.0 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'C:\Users\sharm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script nltk.exe is installed in 'C:\Users\sharm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [12]:
from textblob import TextBlob

def get_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0.1:
        return "Positive"
    elif analysis.sentiment.polarity < -0.1:
        return "Negative"
    else:
        return "Neutral"

df["Sentiment"] = df["Feedback"].apply(get_sentiment)

In [13]:
print(df["Sentiment"])

0    Positive
1    Negative
2    Positive
3    Positive
4    Negative
5    Positive
6    Positive
7    Positive
8    Negative
9    Positive
Name: Sentiment, dtype: object

In [14]:
def categorize_nps(score):
    if score >= 9:
        return "Promoter"
    elif score >= 7:
        return "Passive"
    else:
        return "Detractor"

df["NPS_Category"] = df["NPS_Score"].apply(categorize_nps)

In [15]:
print(df["NPS_Category"])

0     Promoter
1    Detractor
2      Passive
3     Promoter
4    Detractor
5    Detractor
6     Promoter
7      Passive
8    Detractor
9     Promoter
Name: NPS_Category, dtype: object

In [16]:
promoters = (df["NPS_Category"] == "Promoter").sum()
detractors = (df["NPS_Category"] == "Detractor").sum()
total = len(df)